:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

#cardbox {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background-color: var(--cyan);
  border-color: var(--cyan);
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.card:hover {
  background-color: var(--blue);
  color: var(--white)
}
