#test {
    width: 40% !important;
    height: 40% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: "0.8rem";
    background-color: white !important;
}